fastapi
langchain
langchain-core
chromadb
sentence-transformers
transformers
torch
chromadb
python-jose[cryptography] 
passlib==1.7.4
bcrypt==4.0.1 
sqlalchemy
pydantic-settings
pymysql
uvicorn
secure-smtplib
redis
python-multipart
motor
bson
mongoengine
elasticsearch==8.6.0